<body>
  <h3>{{title}}</h3>
  <p>Consolei, turėtumete matyti lietuvos laiką ir naudojamą routerį</p>
</body>
    <script>
      console.log("Lithuanian date and time: ({{date}}): Route ({{route}}) was called.");
    </script>